.additional-header {
 border-bottom: 1px solid #e5e5e5;
}

.additional-header__title {
  margin: 0 20px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.additional-header__description {
  margin: 0 20px 37px;
  color: #333333;
  text-transform: uppercase;
}

@media(min-width: @tablet-width) {
  .additional-header {
    border: none;
   }

   .additional-header__title {
    font-size: 30px;
    margin: 0 166px 34px;
   }

   .additional-header--feedback .additional-header__title {
    margin: 0 166px 22px;
   }

   .additional-header__description {
    margin: 0 165px 80px;
   }
}

@media(min-width: @desktop-width) {
    .additional-header__title {
      margin: 100px 371px 31px;
   }

   .additional-header--feedback {
      & .additional-header__title {
      margin: 114px 166px 33px;
    }

    & .additional-header__description {
      margin: 0 378px 69px;
    }
  }

   .additional-header__description {
    margin: 0 378px 88px;
   }
}
