.advantages {

}

.advantages__intro {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__item {

  background-color: #eee;

  &--with-content {
    color: #fff;
    background-color: #81b3d2;
  }
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0;
  text-transform: uppercase;
}
