.footer {
  margin: 0 18px;
}

.footer__hashtag {
  margin: 29px 60px 33px;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 18px 41px 36px 60px;
    align-items: center;
  }

  .footer__hashtag {
    margin: 0;
    margin-right: 13px;
  }
}

@media(min-width: @desktop-width) {
  .footer {
    margin: 18px 99px 0 119px;
    padding-bottom: 36px;
  }
}
