.hotel-search__title {
  margin: 0 30px;
  padding: 38px 0 22px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel-search__description {
  margin: 0 27px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #333333;
}

.hotel-search__link {
  display: block;
  margin: 0 18px 49px;
  padding: 16px 49px;
}

@media (min-width: @tablet-width) {
  .hotel-search__title,
  .hotel-search__description {
    margin: 0 166px;
  }

  .hotel-search__link {
    margin: 12px 155px 58px;
  }

  .hotel-search__title {
    font-size: 30px;
    margin-top: 22px;
    padding-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search__title {
    margin-top: 23px;
  }

  .hotel-search__description {
    margin: 0 360px;
  }

  .hotel-search__link {
    margin: 17px 371px 67px;
  }
}
