.hotel-search__title {
  margin: 0 30px;
  padding: 38px 0 22px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel-search__description {
  margin: 0 30px;
  padding-bottom: 32px;
  text-transform: uppercase;
  color: #333333;
}

.hotel-search__link {
  display: block;
  margin: 0 18px 49px;
  padding: 16px 49px
}

@media(min-width: @tablet-width) {
  .hotel-search__title,
  .hotel-search__description {
    margin: 0 166px;
  }

  .hotel-search__link {
    margin: 0 auto 58px;
    width: 458px;
  }
}
