.interactive-map {
  height: 350px;
  background-image: url("../img/interactive-map-mobile.jpg");
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .interactive-map {
    background-image: url("../img/interactive-map-tablet.jpg");
  }
}

@media (min-width: @desktop-width) {
  .interactive-map {
    background-image: url("../img/interactive-map-desktop.jpg");
  }
}
