.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  &--close {
    display: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--close {
    display: none;
  }
}

.modal__title {
  margin: 42px 45px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.modal__description {
  text-transform: uppercase;
  color: #333333;
}

.modal__button {
  margin: 0 auto 35px;
  padding: 16px 62px;
  width: 56%;
  font-size: 18px;
}

.modal__button-wrap {
  padding: 20px;
  background-color: #f2f2f2;

  & .modal__button {
    margin: 0;
    width: 100%;
  }
}

.modal--ok {
  & .modal__description {
    margin: 0 40px 55px 37px;
  }

  .modal__title {
    margin: 41px 0 25px;
    padding: 0 44px 0 40px;
  }
}

.modal--error {
  .modal__description {
    padding: 0 30px;
    margin: 0 0 30px;
  }

  .modal-title {
    margin-top: 44px;
  }
}

@media (min-width: @tablet-width) {
  .modal--error {
    width: 400px;

    & .modal__button {
      width: 272px;
      margin: 0 auto 45px;
    }

    & .modal__title {
      margin-top: 48px;
      line-height: 40px;
    }

    & .modal__description {
      padding: 0 39px;
      margin: 0 0 45px;
    }
  }

  .modal--ok {
    width: 640px;

    & .modal__button {
      width: 458px;
      font-size: 21px;
    }

    & .modal__description {
      margin-left: 98px;
      margin-right: 98px;
    }

    & .modal__title {
      margin: 46px 0 31px;
    }
  }

  .modal__button-wrap {
    padding: 44px 91px;
  }

  .modal__title {
    font-size: 30px;
  }
}
