
.photos__card {
  margin: 0;
  padding: 24px 20px 25px;
  border-bottom: 1px solid #e5e5e5;
}

.photos__image {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.photos__description {
  margin-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.photos__author {
  color: #333333;
  text-align: left;
  display: block;
  margin-bottom: 11px;
}

.photos__like {
  display: flex;
  align-items: center;
  gap: 14px;
}

.photos__like-button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;

  &--liked svg {
    fill: rgb(255, 0, 0);
    opacity: 0.7;
  }
}

.photos__like-count {
  font-weight: 700;

}

@media (min-width: @tablet-width) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 60px;
  }

  .photos__image {
    height: auto;
  }

  .photos__card {
    padding: 0;
    border: none;

    &--main-slide {
      grid-column: 1 / -1;
    }
  }

  .photos__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;

    &--contrast {
      background-color: #eaeaea;
    }
  }

  .photos__description,
  .photos__author {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }

  .photos__card {
    position: relative;


    &--main-slide {
      grid-column: 1 / -1;
    }
  }

  .photos__wrapper {
    position: absolute;
    bottom: 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);

  }

  .photos__description,
  .photos__author,
  .photos__like-count {
    color: #ffffff;
  }
}
