.video-presentation {
  margin: 0 20px;
}

.video-presentation__title {
  margin: 0;
  padding: 17px 0 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.video-presentation__description {
  margin: 0;
  padding-bottom: 38px;
  color: #333333;
  text-transform: uppercase;
}

.video-presentation__video {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

@media(min-width: @tablet-width) {
  .video-presentation__title {
    padding: 0;
    margin: 58px 162px 0;
    font-size: 30px;
  }

  .video-presentation__description {
    padding: 0;
    margin: 25px 162px 70px;
  }
}

@media(min-width: @desktop-width) {
  .video-presentation {
    margin: 0 200px 84px;
  }

  .video-presentation__title {
    margin: 66px 178px;
  }

  .video-presentation__description {
    margin: 25px 178px 70px;
  }
}
