.welcome__wrap {
  background-color: #3f5e72;
  background-image: url("../img/welcome-mountains-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    display: block;
    min-height: 57px;
    background-image: url("../img/welcome-divider.svg");
    background-repeat: no-repeat;
    background-size: 100% 57px;
  }
}

.welcome__description {
  margin: 0 18px;
  padding: 18px 0 35px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome__image {
  padding: 90px 0 85px 0;
  vertical-align: bottom;
}

@media(min-width: @tablet-width) {
  .welcome__wrap {
    background-image: url("../img/welcome-mountains-tablet.jpg");
  }

  .welcome__description {
    margin: 0;
    padding: 48px 124px 28px;
  }
}
