.advantages__intro {
  margin: 0 18px;
  padding-bottom: 16px;
  color: #333333;
  text-transform: uppercase;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.advantages__list > li:nth-child(1) {
  background-image: url("../img/advantage-divider.svg");
  background-repeat: no-repeat;
  background-size: 100% 37px;
  padding-top: 31px;
}
.advantages__list > li:nth-child(4)::after,
.advantages__list > li:nth-child(5)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 18px;
  width: 89%;
  height: 1px;
  background-color: #d6d6d6;
}
.advantages__item {
  background-color: #eeeeee;
  position: relative;
}
.advantages__item--with-content {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__title {
  margin: 0 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding: 39px 0 11px;
}
.advantages__description {
  margin: 0 18px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.advantages__num {
  display: block;
  margin: 0 18px;
  padding-bottom: 17px;
}
.advantages__image {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .advantages__intro {
    margin: 0;
    padding: 0 124px 56px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .advantages__list > li:nth-child(1) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: none;
    padding: 0;
  }
  .advantages__list > li:nth-child(2) {
    grid-column: 1 / -1;
  }
  .advantages__list > li:nth-child(3) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .advantages__title {
    margin: 0;
    padding: 42px 35px 14px;
  }
  .advantages__num {
    margin: 0;
    padding-bottom: 26px;
  }
  .advantages__description {
    margin: 0;
    padding: 0 32px 41px;
  }
  .infrastructure__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.button {
  background-color: #81b3d2;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.additional-header__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.additional-header__description {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}
.footer {
  margin: 0 18px;
}
.footer__hashtag {
  margin: 28px 60px 33px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
.form__fieldset {
  display: flex;
  flex-direction: column;
}
.form__intro {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.form__field-wrap {
  display: flex;
  flex-direction: column;
}
.form__field-description {
  color: #333333;
  text-transform: uppercase;
}
.form__field {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__field::placeholder {
  color: #000000;
}
.form__field--phone::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__field--email::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
.form__footnote {
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__wrap {
    display: flex;
    justify-content: space-between;
  }
  .form__impression-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .form__sight-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .form__field-sight-wrap {
    width: 300px;
  }
  .form__field-impression-wrap {
    width: 300px;
  }
}
.hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.header {
  min-height: 56px;
}
.header__logo {
  position: relative;
}
.header__button {
  display: block;
  margin-left: auto;
  width: 68px;
  height: 56px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
.header__button::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.header__button--close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #81b3d2;
}
.header__button--close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 17px;
  width: 28px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #ffffff;
  z-index: 2;
  box-shadow: none;
}
.header__button--close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 17px;
  width: 28px;
  height: 4px;
  transform: rotate(-45deg);
  background-color: #ffffff;
  z-index: 3;
  box-shadow: none;
}
.hotel-search__title {
  margin: 0 18px;
  padding: 38px 0 22px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.hotel-search__description {
  margin: 0 18px;
  padding: 0 12px 32px;
  text-transform: uppercase;
  color: #333333;
}
.hotel-search__link {
  display: block;
  margin: 0 18px 49px;
  padding: 16px 49px;
}
.infrastructure__list {
  padding: 0;
  list-style-type: none;
}
.infrastructure__item {
  padding: 0 18px;
  text-align: left;
  background-color: #ffffff;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 25px 18px;
}
.infrastructure__item--accommodation {
  background-image: url(../img/accomodation-icon.svg);
}
.infrastructure__item--eat {
  background-image: url(../img/burger-icon.svg);
}
.infrastructure__item--souvenirs {
  background-image: url(../img/gift-icon.svg);
}
.infrastructure__title {
  margin: 0;
  padding: 31px 0 16px 66px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.infrastructure__description {
  padding-left: 66px;
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}
.infrastructure__item--souvenirs {
  padding-bottom: 52px;
}
@media (min-width: 768px) {
  .infrastructure__item {
    padding: 0 18px;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    background-repeat: no-repeat;
  }
  .infrastructure__item--accommodation {
    background-image: url(../img/accomodation-icon-tablet.svg);
  }
  .infrastructure__item--eat {
    background-image: url(../img/burger-icon-tablet.svg);
  }
  .infrastructure__item--souvenirs {
    background-image: url(../img/gift-icon-tablet.svg);
  }
}
.logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .logo {
    z-index: 2;
  }
}
.menu {
  background-color: #81b3d2;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu__list--close {
  display: none;
}
.menu__item {
  text-align: center;
}
.menu__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .header__button {
    display: none;
  }
  .menu {
    background-color: #ffffff;
  }
  .menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr 185px 1fr 1fr;
  }
  .menu__list li:nth-child(3) {
    grid-column: 4 / 5;
  }
  .menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}
.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.modal__description {
  margin: 0;
  text-transform: uppercase;
  color: #333333;
}
.photos__card {
  margin: 0;
}
.photos__description {
  font-weight: 700;
  text-transform: uppercase;
}
.photos__author {
  color: #333333;
}
.photos__like-count {
  font-weight: 700;
}
@media (min-width: 768px) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .photos__card--main-slide {
    grid-column: 1 / -1;
  }
}
@media (min-width: 1200px) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photos__card--main-slide {
    grid-column: 1 / -1;
  }
}
.secondary-logo {
  background-color: #3f5e72;
  background-image: url("../img/secondary-welcome-mountains.jpg");
  background-repeat: no-repeat;
}
.social {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.social__link {
  display: block;
  padding: 12px;
  line-height: 0;
}
.stamp__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 40px 0 23px;
}
.stamp__description {
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}
.video-presentation__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.video-presentation__description {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}
.welcome__wrap {
  background-color: #3f5e72;
  background-image: url("../img/welcome-mountains-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome__wrap::after {
  content: "";
  display: block;
  min-height: 57px;
  background-image: url("../img/welcome-divider.svg");
  background-repeat: no-repeat;
  background-size: 100% 57px;
}
.welcome__description {
  margin: 0 18px;
  padding: 18px 0 35px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.welcome__image {
  padding: 90px 0 85px 0;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .welcome__wrap {
    background-image: url("../img/welcome-mountains-tablet.jpg");
  }
  .welcome__description {
    margin: 0;
    padding: 48px 124px 28px;
  }
}
.container {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .container {
    width: 90%;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  }
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */
