.advantages__intro {
  margin: 0 18px;
  padding-bottom: 16px;
  color: #333333;
  text-transform: uppercase;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.advantages__list > li:nth-child(1) {
  background-image: url("../img/advantage-divider.svg");
  background-repeat: no-repeat;
  background-size: 100% 37px;
  padding-top: 31px;
}
.advantages__list > li:nth-child(4)::after,
.advantages__list > li:nth-child(5)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #d6d6d6;
}
.advantages__item {
  background-color: #eeeeee;
  position: relative;
}
.advantages__title {
  margin: 0 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding: 23px 2px 11px 0;
}
.advantages__description {
  margin: 0 32px;
  padding: 0 5px 27px 0;
  text-transform: uppercase;
}
.advantages__num {
  display: block;
  margin: 0 18px;
  padding: 0 6px 17px 0;
}
.advantages__image {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.advantages__item--with-content {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__item--with-content .advantages__title {
  padding: 40px 2px 11px 0;
}
.advantages__item--with-content .advantages__description {
  margin: 0 25px;
  padding: 0 5px 38px 0;
}
@media (min-width: 768px) {
  .advantages__intro {
    margin: 0;
    padding: 0 124px 56px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .advantages__list > li:nth-child(1) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: none;
    padding: 0;
  }
  .advantages__list > li:nth-child(2) {
    grid-column: 1 / -1;
  }
  .advantages__list > li:nth-child(3) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .advantages__list > li:nth-child(3) div {
    order: 1;
  }
  .advantages__title {
    margin: 0 22px;
    padding: 37px 35px 14px;
    font-size: 21px;
  }
  .advantages__num {
    margin: 0;
    padding-bottom: 23px;
  }
  .advantages__description {
    margin: 0;
    padding: 0 32px 39px;
  }
  .advantages__item--with-content .advantages__title {
    padding-bottom: 14px;
  }
  .advantages__list > li:nth-child(4)::after,
  .advantages__list > li:nth-child(5)::after {
    content: none;
  }
}
@media (min-width: 1200px) {
  .advantages__intro {
    padding-bottom: 44px;
  }
  .advantages__item--with-content .advantages__title {
    padding: 51px 75px 12px;
  }
  .advantages__item--with-content .advantages__description {
    padding: 0 37px 38px;
  }
  .advantages__num {
    padding: 0 0 23px 2px;
  }
  .advantages__list li:nth-child(3) .advantages__description {
    padding: 3px 52px 38px;
  }
  .advantages__list li:nth-child(4) .advantages__title,
  .advantages__list li:nth-child(5) .advantages__title,
  .advantages__list li:nth-child(6) .advantages__title {
    margin: 3px 88px;
    padding: 37px 35px 11px;
  }
  .advantages__list li:nth-child(4) .advantages__description,
  .advantages__list li:nth-child(5) .advantages__description,
  .advantages__list li:nth-child(6) .advantages__description {
    padding: 0 42px 60px;
  }
}
.button {
  display: block;
  background-color: #81b3d2;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
}
.button:active .social__icon {
  opacity: 0.3;
}
.additional-header {
  border-bottom: 1px solid #e5e5e5;
}
.additional-header__title {
  margin: 0 20px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.additional-header__description {
  margin: 0 20px 37px;
  color: #333333;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additional-header {
    border: none;
  }
  .additional-header__title {
    font-size: 30px;
    margin: 0 166px 34px;
  }
  .additional-header--feedback .additional-header__title {
    margin: 0 166px 22px;
  }
  .additional-header__description {
    margin: 0 165px 80px;
  }
}
@media (min-width: 1200px) {
  .additional-header__title {
    margin: 100px 371px 31px;
  }
  .additional-header--feedback .additional-header__title {
    margin: 114px 166px 33px;
  }
  .additional-header--feedback .additional-header__description {
    margin: 0 378px 69px;
  }
  .additional-header__description {
    margin: 0 378px 88px;
  }
}
@media (min-width: 768px) {
  .feedback-section {
    margin-top: 107px;
  }
}
@media (min-width: 1200px) {
  .feedback-section {
    margin-top: 0;
  }
}
.footer {
  margin: 0 18px;
}
.footer__hashtag {
  margin: 29px 60px 33px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 18px 41px 36px 60px;
    align-items: center;
  }
  .footer__hashtag {
    margin: 0;
    margin-right: 13px;
  }
}
@media (min-width: 1200px) {
  .footer {
    margin: 18px 99px 0 119px;
    padding-bottom: 36px;
  }
}
.form__fieldset {
  display: flex;
  margin: 0;
  flex-direction: column;
  border: 0 none;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  padding: 20px 20px 29px;
}
.form__intro {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}
.form__impression-wrap {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 10px;
}
.form__field-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form__field-description {
  color: #333333;
  text-transform: uppercase;
  margin-left: 16px;
}
.form__field-impression-wrap {
  padding-top: 9px;
}
.form__field-impression-wrap label {
  padding-left: 37px;
}
.form__field-impression-wrap input:focus {
  outline: none;
}
.form__field-sight-wrap label {
  padding-left: 38px;
}
.form__field-sight-wrap input:focus {
  outline: none;
}
.form__field {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
}
.form__field::placeholder {
  color: #000000;
}
.form__field:hover {
  background-color: #e5e5e5;
}
.form__field:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
.form__field:focus {
  outline: 4px solid #e5e5e5;
}
.form__field--phone {
  padding-right: 75px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 67%;
}
.form__field--phone::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__field--email {
  padding-right: 75px;
  background-image: url("../img/email-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 67%;
}
.form__field--email::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__field[type="radio"]::after {
  position: absolute;
  content: "";
  top: -16px;
  left: -5px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.form__field[type="radio"]:hover::after {
  background-color: #e5e5e5;
}
.form__field[type="radio"]:active::after {
  background-color: #d5d5d5;
}
.form__field[type="radio"]:active::before {
  opacity: 0.3;
}
.form__field[type="radio"]:checked::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: -2px;
  left: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
}
.form__field[type="checkbox"]::after {
  position: absolute;
  content: "";
  top: -17px;
  left: -4px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.form__field[type="checkbox"]:checked::after {
  background-image: url("../../img/checkbox-icon.svg");
}
.form__field[type="checkbox"]:hover::after {
  background-color: #e5e5e5;
}
.form__field[type="checkbox"]:active::after {
  background-color: #d5d5d5;
}
.form__field[type="checkbox"]:active::before {
  opacity: 0.3;
}
.form__intro--sight {
  padding: 20px 0 10px;
}
.form__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__sight-wrap {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.form__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: 0;
  background-color: #f2f2f2;
  min-height: 116px;
  padding: 16px;
  resize: none;
}
.form__text::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__fieldset--textarea legend {
  padding-top: 29px;
}
.form__footnote {
  display: block;
  text-align: right;
  margin: 0 20px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  text-transform: uppercase;
}
.form__button {
  margin: 27px 17px 0;
  width: 89%;
  padding: 18px 33px 14px;
}
.form__button-wrap {
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .form__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 60px 47px;
  }
  .form__intro {
    padding: 0;
    margin-bottom: 28px;
    font-size: 21px;
  }
  .form__impression-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 37px 21px;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
  .form__sight-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 84px 24px;
    justify-content: space-between;
    gap: 0;
  }
  .form__fieldset {
    padding: 0;
    border: none;
    margin: 0 60px;
  }
  .form__fieldset--info,
  .form__fieldset--welcome {
    margin: 0;
    width: 43%;
  }
  .form__fieldset--welcome legend {
    padding-left: 40px;
  }
  .form__fieldset--info {
    min-width: 324px;
    border-left: 1px solid #dbdbdb;
  }
  .form__fieldset--info .form__field-wrap {
    margin-left: 38px;
  }
  .form__field-sight-wrap {
    width: 47%;
    margin-top: 37px;
  }
  .form__field-impression-wrap {
    width: 48.5%;
    margin: 0 0 16px;
    padding: 10px 0;
  }
  .form__label {
    padding: 0;
  }
  .form__intro--sight {
    margin-bottom: 0;
    width: 50%;
  }
  .form__button-wrap {
    display: flex;
    margin: 58px 60px 89px;
    justify-content: space-between;
    align-items: center;
  }
  .form__button {
    width: 50%;
    margin: 0;
    padding: 20px 29px 12px 16px;
  }
  .form__footnote {
    font-size: 14px;
    line-height: 21px;
    opacity: 1;
    padding-top: 9px;
    margin: 0;
  }
}
.form__intro--sight,
.form__intro--emotions,
.form__intro--impression {
  position: relative;
}
.form__intro--sight::after,
.form__intro--emotions::after,
.form__intro--impression::after {
  content: "";
  position: absolute;
  width: 123px;
  height: 1px;
  background-color: #dbdbdb;
}
.form__intro--sight::before,
.form__intro--emotions::before,
.form__intro--impression::before {
  content: "";
  position: absolute;
  width: 123px;
  height: 1px;
  background-color: #dbdbdb;
}
.form__intro--sight::after {
  left: -161px;
  top: 24px;
}
.form__intro--emotions::after {
  left: -200px;
  top: 40px;
}
.form__intro--impression::after {
  left: -183px;
  top: 8px;
}
.form__intro--sight::before {
  right: -161px;
  top: 24px;
}
.form__intro--emotions::before {
  right: -200px;
  top: 40px;
}
.form__intro--impression::before {
  right: -183px;
  top: 8px;
}
@media (min-width: 1200px) {
  .form__wrap {
    margin: 0 120px 55px;
  }
  .form__impression-wrap {
    padding: 0;
    margin: 27px 85px 83px 113px;
  }
  .form__sight-wrap {
    justify-content: space-around;
    margin: 33px 54px 69px 109px;
  }
  .form__field-impression-wrap {
    width: 30%;
    padding: 0;
    margin: 0;
  }
  .form__field-sight-wrap {
    width: 25%;
  }
  .form__fieldset--welcome .form__field {
    min-width: 395px;
  }
  .form__fieldset--welcome legend {
    padding-left: 66px;
  }
  .form__fieldset--info {
    min-width: 466px;
  }
  .form__fieldset--info .form__field-wrap {
    margin-left: 64px;
  }
  .form__field--phone,
  .form__field--email {
    width: 77%;
  }
  .form__intro--sight {
    width: 400px;
  }
  .form__text {
    margin: 0 156px;
  }
  .form__button {
    width: 36%;
    margin-left: 155px;
  }
  .form__footnote {
    margin-right: 156px;
  }
  .form__button-wrap {
    margin: 58px 60px 88px;
  }
  .form__intro--sight::after,
  .form__intro--emotions::after,
  .form__intro--impression::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .form__intro--sight::before,
  .form__intro--emotions::before,
  .form__intro--impression::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .form__intro--sight::after {
    left: -161px;
    top: 24px;
  }
  .form__intro--emotions::after {
    left: -200px;
    top: 40px;
  }
  .form__intro--impression::after {
    left: -183px;
    top: 8px;
  }
  .form__intro--sight::before {
    right: -161px;
    top: 24px;
  }
  .form__intro--emotions::before {
    right: -200px;
    top: 40px;
  }
  .form__intro--impression::before {
    right: -183px;
    top: 8px;
  }
}
.hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.header {
  min-height: 56px;
}
.header--nojs {
  position: relative;
}
.header--nojs .menu {
  position: static;
  margin-bottom: 56px;
}
.header--nojs .header__button {
  display: none;
}
.header--nojs .menu__list--close {
  display: block;
}
.header--nojs .logo {
  bottom: -102px;
}
.header__logo {
  position: relative;
}
.header__button {
  display: block;
  margin-left: auto;
  width: 68px;
  height: 56px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
.header__button::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.header__button:hover {
  opacity: 0.6;
}
.header__button:active {
  opacity: 0.3;
}
.header__button--close {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 4;
  background-color: #81b3d2;
}
.header__button--close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 17px;
  width: 28px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #ffffff;
  z-index: 2;
  box-shadow: none;
}
.header__button--close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 17px;
  width: 28px;
  height: 4px;
  transform: rotate(-45deg);
  background-color: #ffffff;
  z-index: 3;
  box-shadow: none;
}
.hotel-search__title {
  margin: 0 30px;
  padding: 38px 0 22px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.hotel-search__description {
  margin: 0 27px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #333333;
}
.hotel-search__link {
  display: block;
  margin: 0 18px 49px;
  padding: 16px 49px;
}
@media (min-width: 768px) {
  .hotel-search__title,
  .hotel-search__description {
    margin: 0 166px;
  }
  .hotel-search__link {
    margin: 12px 155px 58px;
  }
  .hotel-search__title {
    font-size: 30px;
    margin-top: 22px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__title {
    margin-top: 23px;
  }
  .hotel-search__description {
    margin: 0 360px;
  }
  .hotel-search__link {
    margin: 17px 371px 67px;
  }
}
.infrastructure__list {
  padding: 0;
  list-style-type: none;
}
.infrastructure__item {
  padding: 0 18px;
  text-align: left;
  background-color: #ffffff;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 18px 22px;
}
.infrastructure__item--accommodation {
  background-image: url("../img/accomodation-icon.svg");
}
.infrastructure__item--eat {
  background-image: url("../img/burger-icon.svg");
}
.infrastructure__item--souvenirs {
  background-image: url("../img/gift-icon.svg");
  padding-bottom: 50px;
}
.infrastructure__title {
  margin: 0;
  padding: 31px 0 16px 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.infrastructure__description {
  padding-left: 48px;
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .infrastructure__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .infrastructure__item {
    padding: 158px 0 59px;
    text-align: center;
    background-color: #ffffff;
    background-size: 72px 72px;
    background-position: center 60px;
  }
  .infrastructure__title {
    padding: 0;
    margin: 0 36px 23px;
    font-size: 21px;
  }
  .infrastructure__description {
    margin: 0 36px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .infrastructure__title {
    margin-bottom: 20px;
  }
  .infrastructure__description {
    margin: 0 51px;
  }
  .infrastructure__item--souvenirs .infrastructure__description {
    padding: 0 52px;
  }
  .infrastructure__item {
    padding-bottom: 78px;
  }
}
.logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .logo {
    z-index: 3;
  }
}
.menu {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.menu__list {
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu__list--close {
  display: none;
}
.menu__list li:first-child {
  border-top: none;
}
.menu__list li:last-child {
  border-bottom: none;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 7px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.menu__item {
  text-align: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menu__item:hover {
  background-color: #669ec0;
}
.menu__item:active {
  background-color: #5496bd;
}
.menu__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.menu__link:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .header__button {
    display: none;
  }
  .menu {
    background-color: #ffffff;
  }
  .menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr 151px 1fr 1fr;
    background-color: #ffffff;
  }
  .menu__list li:nth-child(3) {
    grid-column: 4 / 5;
  }
  .menu__list li:last-child {
    background-image: none;
  }
  .menu__item {
    border: none;
  }
  .menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding-top: 19px;
  }
  .menu__link--current {
    color: #766357;
  }
  .menu__link:hover {
    background-color: #ffffff;
    color: #81b3d2;
  }
  .menu__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .menu__list {
    grid-template-columns: 1fr 1fr 238px 1fr 1fr;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container--close {
  display: none;
}
.modal {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal--close {
  display: none;
}
.modal__title {
  margin: 42px 45px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.modal__description {
  text-transform: uppercase;
  color: #333333;
}
.modal__button {
  margin: 0 auto 35px;
  padding: 16px 62px;
  width: 56%;
  font-size: 18px;
}
.modal__button-wrap {
  padding: 20px;
  background-color: #f2f2f2;
}
.modal__button-wrap .modal__button {
  margin: 0;
  width: 100%;
}
.modal--ok .modal__description {
  margin: 0 40px 55px 37px;
}
.modal--ok .modal__title {
  margin: 41px 0 25px;
  padding: 0 44px 0 40px;
}
.modal--error .modal__description {
  padding: 0 30px;
  margin: 0 0 30px;
}
.modal--error .modal-title {
  margin-top: 44px;
}
@media (min-width: 768px) {
  .modal--error {
    width: 400px;
  }
  .modal--error .modal__button {
    width: 272px;
    margin: 0 auto 45px;
  }
  .modal--error .modal__title {
    margin-top: 48px;
    line-height: 40px;
  }
  .modal--error .modal__description {
    padding: 0 39px;
    margin: 0 0 45px;
  }
  .modal--ok {
    width: 640px;
  }
  .modal--ok .modal__button {
    width: 458px;
    font-size: 21px;
  }
  .modal--ok .modal__description {
    margin-left: 98px;
    margin-right: 98px;
  }
  .modal--ok .modal__title {
    margin: 46px 0 31px;
  }
  .modal__button-wrap {
    padding: 44px 91px;
  }
  .modal__title {
    font-size: 30px;
  }
}
.photos__card {
  margin: 0;
  padding: 24px 20px 25px;
  border-bottom: 1px solid #e5e5e5;
}
.photos__image {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.photos__description {
  display: block;
  margin-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.photos__author {
  color: #333333;
  text-align: left;
  display: block;
  margin-bottom: 11px;
}
.photos__like {
  display: flex;
  align-items: center;
  gap: 14px;
}
.photos__like-button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.photos__like-button--liked svg {
  fill: #ff0000;
  opacity: 0.7;
}
.photos__like-count {
  font-weight: 700;
  padding-top: 6px;
}
@media (min-width: 768px) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 60px;
  }
  .photos__image {
    height: auto;
  }
  .photos__card {
    padding: 0;
    border: none;
  }
  .photos__card--main-slide {
    grid-column: 1 / -1;
  }
  .photos__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
  .photos__wrapper--contrast {
    background-color: #eaeaea;
  }
  .photos__description,
  .photos__author {
    margin: 0;
  }
  .photos__like {
    gap: 10px;
  }
  .photos__like-button {
    padding-bottom: 5px;
  }
  .photos__like-count {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
  .photos__card {
    position: relative;
  }
  .photos__card--main-slide {
    grid-column: 1 / -1;
  }
  .photos__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photos__description,
  .photos__author,
  .photos__like-count {
    color: #ffffff;
  }
  .photos__like-button svg {
    fill: #ffffff;
    opacity: 1;
  }
}
.secondary-logo {
  position: relative;
  min-height: 158px;
  margin-bottom: 37px;
  background-color: #3f5e72;
  background-image: url("../img/secondary-welcome-mountains-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.secondary-logo::after {
  display: block;
  bottom: 0;
  width: 100%;
  position: absolute;
  min-height: 57px;
  content: "";
  background-image: url("../img/welcome-divider.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .secondary-logo {
    background-image: url("../img/secondary-welcome-mountains-mobile@2x.jpg");
  }
}
.secondary-logo__image {
  margin: 52px 0 10px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .secondary-logo {
    min-height: 290px;
    background-image: url("../img/secondary-welcome-mountains-tablet.jpg");
    margin-bottom: 65px;
  }
  .secondary-logo__image {
    margin: 95px 0 60px;
    width: 457px;
    height: 78px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .secondary-logo {
    background-image: url("../img/secondary-welcome-mountains-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .secondary-logo {
    background-image: url("../img/secondary-welcome-mountains-desktop.jpg");
    min-height: 300px;
  }
  .secondary-logo__image {
    margin: 102px 0 60px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .secondary-logo {
    background-image: url("../img/secondary-welcome-mountains-desktop@2x.jpg");
  }
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}
.social__link {
  display: block;
  padding: 12px;
  line-height: 0;
}
.stamp__link {
  text-decoration: none;
  margin: 40px 0 23px;
}
.stamp__wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  margin-top: 20px;
}
.stamp__wrap:hover p {
  color: #81b3d2;
}
.stamp__wrap:hover svg {
  fill: #81b3d2;
}
.stamp__wrap:active p {
  color: #b3b3b3;
}
.stamp__wrap:active svg {
  fill: #b3b3b3;
}
.stamp__description {
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .stamp__link {
    padding: 0;
  }
  .stamp__wrap {
    margin: 0;
  }
}
.video-presentation {
  margin: 0 20px;
}
.video-presentation__title {
  margin: 0;
  padding: 17px 0 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.video-presentation__description {
  margin: 0 13px;
  padding-bottom: 38px;
  color: #333333;
  text-transform: uppercase;
}
.video-presentation__video {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.video-presentation__wrap {
  display: block;
  position: relative;
}
.video-presentation__wrap::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  right: -18px;
  left: 0;
  margin: auto;
  border: none;
  border-style: solid;
  border-width: 27px 0 27px 48px;
  border-color: transparent transparent transparent #ffffff;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) {
  .video-presentation__title {
    padding: 0;
    margin: 58px 162px 0;
    font-size: 30px;
  }
  .video-presentation__description {
    padding: 0;
    margin: 33px 135px 89px;
  }
  .video-presentation__wrap {
    margin: 0 40px;
  }
  .video-presentation {
    margin: 0 20px 64px;
  }
  .video-presentation__wrap::after {
    right: 0;
  }
}
@media (min-width: 1200px) {
  .video-presentation {
    margin: 0 200px 84px;
  }
  .video-presentation__title {
    margin: 61px 178px 32px;
  }
  .video-presentation__description {
    margin: 25px 178px 87px;
  }
  .video-presentation__wrap {
    margin: 0 0 107px;
  }
}
.welcome__wrap {
  position: relative;
  background-color: #3f5e72;
  background-image: url("../img/welcome-mountains-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome__wrap::after {
  display: block;
  bottom: 0;
  width: 100%;
  position: absolute;
  min-height: 57px;
  content: "";
  background-image: url("../img/welcome-divider.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .welcome__wrap {
    background-image: url("../img/welcome-mountains-mobile@2x.jpg");
  }
}
.welcome__description {
  margin: 0 26px;
  padding: 34px 4px 35px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.welcome__image {
  padding: 90px 0 85px 0;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .welcome__wrap {
    background-image: url("../img/welcome-mountains-tablet.jpg");
  }
  .welcome__image {
    width: 461px;
    height: 350px;
    padding: 77px 0 91px;
  }
  .welcome__description {
    margin: 0;
    padding: 48px 124px 28px;
    font-size: 21px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .welcome__wrap {
    background-image: url("../img/welcome-mountains-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .welcome__description {
    margin: 0;
    padding: 61px 318px 28px;
  }
  .welcome__wrap {
    background-image: url("../img/welcome-mountains-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .welcome__wrap {
    background-image: url("../img/welcome-mountains-desktop@2x.jpg");
  }
}
.container {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .container {
    margin: 0 40px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */
